body {
    background-color: #f9f7fee4;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: #49d8e0c2;
}

.container {
    margin: 110px auto;
    max-width: 550px;
}

header {
    margin-bottom: 28px;
}

h1 {
    text-align: center;
    font-weight: 750;
    font-size: 34px;
    line-height: 1.5;
    color: #10c0ab;
}

form {
    padding: 28px;
    background-color: #ffffff;
    box-shadow: 0px 20px 60px rgba(111, 120, 108, 0.08);
    border-radius: 8px;
    display: flex;
    margin-bottom: 28px;
}
.instructions {
    padding: 14px;
    border: 1px solid rgba(63, 111, 89, 0.5);
    width: 80%;
    font-size: 14px;
    border-radius: 45px;
    line-height: 18px;
    
}

.submit-button {
    margin-left: 8px;
    background: #527957;
    color: white;
    border: none;
    width: 125px;
    font-size: 14px;
    border-radius: 35px;
    padding: 10px 20px;
}

.poem {
    font-size: 14px;
    background-color: #fff;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid #4a63bd;
    box-shadow: 0px 4px 30px 0px rgba(232, 231, 233, 0.03);

}

footer {
    text-align: center;
    font-size: 12px;
    margin-top: 28px;
}